<li data-highlight="active" role="noitem" id="dashboard" class="checkClass">
    <a href="@Url.Action("Index", "Home")">
        <i class="icon-pie-chart"></i>
        <span class="title">Dashboard</span>
        <span class="selected"></span>
    </a>
</li>

<li role="noitem" id="liOrder" class="checkClass">
    <a href="@Url.Action("Index", "Order")">
        <i class="icon-pie-chart"></i>
        <span class="title">Orders</span>
        <span class="selected"></span>
    </a>
</li>

<li role="noitem" id="liSupplier" class="checkClass">
    <a href="@Url.Action("Index", "Supplier")">
        <i class="icon-pie-chart"></i>
        <span class="title">Suppliers</span>
        <span class="selected"></span>
    </a>
</li>

<li role="noitem" id="liCustomer" class="checkClass">
    <a href="@Url.Action("Index", "Customer")">
        <i class="icon-pie-chart"></i>
        <span class="title">Customers</span>
        <span class="selected"></span>
    </a>
</li>
<li role="noitem" id="liCategory" class="checkClass">
    <a href="@Url.Action("Index", "Category")">
        <i class="icon-pie-chart"></i>
        <span class="title">Category</span>
        <span class="selected"></span>
    </a>
</li>